<div class="row">
    <div class="col-2 card text-center">
        <div class="card-header">
            NewConfirmed
        </div>
        <div class="card-body">
            {{ NewConfirmed }}
        </div>
        <div class="card-footer text-muted">
            Nuevo confirmado
        </div>
    </div>
    <div class=" col-2 card text-center">
        <div class="card-header">
            TotalConfirmed
        </div>
        <div class="card-body">
            {{ TotalConfirmed }}
        </div>
        <div class="card-footer text-muted">
            Total confirmado
        </div>
    </div>

    <div class="col-2 card text-center">
        <div class="card-header">
            NewDeaths
        </div>
        <div class="card-body">
            {{ NewDeaths }}
        </div>
        <div class="card-footer text-muted">
            Nuevas muertes
        </div>
    </div>
    <div class="col-2 card text-center">
        <div class="card-header">
            TotalDeaths
        </div>
        <div class="card-body">
            {{ TotalDeaths }}
        </div>
        <div class="card-footer text-muted">
            Muertes totales
        </div>
    </div>
    <div class="col-2 card text-center">
        <div class="card-header">
            NewRecovered
        </div>
        <div class="card-body">
            {{ NewRecovered }}
        </div>
        <div class="card-footer text-muted">
            Nuevo recuperado
        </div>
    </div>
    <div class="col-2 card text-center">
        <div class="card-header">
            TotalRecovered
        </div>
        <div class="card-body">
            {{ TotalRecovered }}
        </div>
        <div class="card-footer text-muted">
            Total recuperado
        </div>
    </div>

</div>